<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Employee Login</title>
  <link rel="stylesheet" href="/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <% if(error.length>0) { %>
    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%=error%>
        </span> 
    </div>   
    <% } %>
    <% if(success.length>0) { %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%=success%>
            </span> 
        </div>   
    <% } %>
  <div class="main-container">
    <h1>Employee Login</h1>
    <form action="/employee/login" method="POST" class="form-box">
      <label>Employee ID</label>
      <input type="text" name="employeeid" placeholder="Enter Employee ID" required />
      
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter Password" required />

      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
